/* 首页样式 */
.main{
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}
.focus{
    position: relative;
    float: left;
    width: 720px;
    height: 455px;
    background-color: #ccc;
    overflow: hidden;
}
.arrow-l,.arrow-r{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.arrow-r{
    right: 0;
}
.circle{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li{
    float: left;
    width: 8px;
    height: 8px;
    border: solid 2px #fff;
    margin: 0 3px;
    border-radius: 50% ;
    cursor:pointer
}
.current{
    background-color: #fff;
    box-shadow:#ccc;
}
.newsflash{
    float: right;
    height: 455px;
    width: 250px;
}
.news{
    height: 163px;
    border: 1px solid #ccc;
}
.news_hd{
    height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    line-height: 32px;
    padding: 0 15px;
    
}
.news_hd a{
    float: right;
    font-size: 12px;
}
.mews_bd {
    padding: 10px 0 0 15px;
}
.mews_bd li{
    height: 24px;
}

.lifeservice{
    height: 208px;
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice li{
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a{
    display: block;
    /* 解决i引起的外边距塌陷合并的问题 */
    overflow: hidden;
    height: 100%;
}
.lifeservice li p{
    text-align: center;
}
.service_ico{
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    background:url(../img/icons.png ) no-repeat ;
}
.service_ico_huafei{
    background-position: -17px -16px; 
}
.service_ico_jipiao{
    background-position: -78px -16px; 
}
.service_ico_dianying{
    background-position: -142px -16px; 
}
.service_ico_youxi{
    background-position: -205px -16px; 
}
.bargain{
    height: 75px;
    margin-top: 5px;
    background: url(../upload/ad.jpg);
}

/* recommende */
.recommend{
    height: 163px;
    background-color: #bfa;
    margin-top: 10px;
}
.recom_hd{
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom_hd img{
    margin: 30px 0 10px 0;
}
.recom_hd h3{
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}
.recom_bd{
    overflow: hidden;
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom_bd li{
    float: left;
    width: 250px;
    height: 145px;
}

/* floor */
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top: 25px;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
}
.tab_list{
    float: right;
    line-height: 30px;
}
.tab_list li{
    float: left;
}
.tab_list li a {
    margin: 0 15px;
}
.box_bd{
    height: 360px;
}
.w209{
    width: 209px;
    background-color: #f9f9f9;
}
.w329{
    width: 329px;
}
.w219{
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220{
    width: 220px;
    border-right: 1px solid #ccc;
}
.tab_con li{
    float: left;
    height: 360px;
}
.tab_con_item{
    border-bottom: 1px solid #ccc;
}
.tab_con_list{
    overflow: hidden;
    margin-bottom: 15px;
}
.tab_con_list li{
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

.box_bd li{
    overflow: hidden;
}
.box_bd img{
    transition: all 0.5s;
}
.box_bd img:hover{
    margin-left: 8px;
    
}
/* 电梯导航 */
.fixedtool{
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
}
.fixedtool li{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.fixedtool .current{
    color: #fff;
    background-color: #c81623;
}